.nav,
.sidebar,
.content {
  padding: 40px;
}
.page {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #262626;
  padding-top: 20px;
  padding-bottom: 20px;
}

.nav span,
.nav a {
  margin: 0;
  padding: 0;
}

.main {
  flex: 1;
  display: flex;
  gap: 20px;
  height: calc(100vh - 82px);
}

.sidebar {
  width: 320px;
  border-right: 1px solid #262626;
  height: 100%;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.sidebar::-webkit-scrollbar {
  display: none;
}

.content {
  flex: 1;
  overflow-y: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.content::-webkit-scrollbar {
  display: none;
}

.divider {
  margin: 40px 0;
}
